[flake8]
max-line-length = 90
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    docs/build,
per-file-ignores = 
    martini/__init__.py:F401
    martini/sources/__init__.py:F401
    tests/test_martini.py:F401
    tests/test_datacube.py:F401
    tests/test_sources.py:F401
    tests/test_spectral_models.py:F401