[flake8]
max-line-length = 90
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist
per-file-ignores = 
    martini/__init__.py:F401
    martini/sources/__init__.py:F401