*.pyc
/dist/
/build/
/*.egg-info
/.eggs
*~
\#*
.\#*
/docs/build/
.ipynb_checkpoints
examples/RefL0025N0376/*
examples/m11e_res7100/*
examples/*.fits
examples/*.FITS
examples/*.hdf5
examples/*.npy
examples/*.tar
examples/sql_cookies.txt
examples/eagle_db.password
examples/tng_api.key
examples/m11e_res7100
.coverage