h5py
Hdecompose @ https://github.com/kyleaoman/Hdecompose/archive/master.zip#egg=Hdecompose
pyread_eagle
eagleSqlTools
swiftsimio
swiftgalaxy
simfiles @ https://github.com/kyleaoman/simfiles/archive/master.zip#egg=simfiles
simobj @ https://github.com/kyleaoman/simobj/archive/master.zip#egg=simobj
g3t @ https://github.com/kyleaoman/g3t/archive/master.zip#egg=g3t
