matplotlib
six
requests
multiprocess
h5py
hdecompose
pyread_eagle
eaglesqltools
swiftsimio
swiftgalaxy
g3read
pytest-cov
numpydoc
nbmake
mypy
beautifulsoup4
gizmo-analysis
halo-analysis
utilities-awetzel
