name: Run tests

on:
  schedule:
    - cron: '19 3 * * 1-5'
  push:
  pull_request:
  workflow_call:
    secrets:
      TNG_API_KEY:
        required: true

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Run flake8
        uses: py-actions/flake8@v2
      - uses: astral-sh/ruff-action@v3
      - name: Ruff style checks
        run: ruff check
      - name: Ruff formatting checks
        run: ruff format --check --diff
      - name: Checkout martini
        uses: actions/checkout@v4
      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install numpydoc
        run: pip install numpydoc
      - name: Run docstring validation
        run: numpydoc lint **/*.py
      - name: Install mypy
        run: pip install mypy
      - name: Install types
        run: mypy --install-types --non-interactive
      - name: Run mypy
        run: mypy
      - name: Install martini
        run: |
          python -m pip install --upgrade pip
          pip install -e .
      
  tests:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, "3.10", "3.11", "3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -e .[all,testing]
    - name: Test with pytest
      env:
        TNG_API_KEY: ${{ secrets.TNG_API_KEY }}
      run: |
        pytest

  tests-and-coverage:
    needs: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -e .[all,testing]
    - name: Test with pytest including coverage report
      env:
        TNG_API_KEY: ${{ secrets.TNG_API_KEY }}
      run: |
        pytest --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
